body {    
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em auto;    
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.titulo {
    margin: 10px auto;
    text-align: center;
}

.contenido {
    margin: 15px auto;
    max-width: 940px;
    padding: 10px;    
}

.options {
    text-align: center;
}

.EtiquetasTitulos {
    font-weight: bold;
}

.btnSubmit {
    margin: 10px auto 10px auto;
    font-size: 16px;    
}

.cajas {    
    width: 50%;
    border: 1px solid black;
}

.area {
    width: 100%;        
}